##################################################################
# Public URL p2cd.com. The green Nginx configuration will redirect 
# all calls to p2cd.com/api/ to the green app on Heroku and all 
# calls to p2cd.com/api-test/ to the blue app on Heroku.
##################################################################


################################################################
# This would be a separate file nginx.conf within blue directory
################################################################
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  p2cd.com;
        
        location /api {
            proxy_pass https://heroku-blue.com/api;
        }
        
        location /api-test {
            proxy_pass https://heroku-green.com/api;
        }
    }
    include servers/*;
}


#################################################################
# This would be a separate file nginx.conf within green directory
#################################################################
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        listen       80;
        server_name  p2cd.com;
        
        location /api {
            proxy_pass https://heroku-green.com/api;
        }
        
        location /api-test {
            proxy_pass https://heroku-blue.com/api;
        }
    }
    include servers/*;
}

##################################################
# Folder structure at NGINX server should look something like
##################################################
--root
 |--- blue 
      |--- nginx.conf.blue
 |--- green 
      |--- nginx.conf.green
 |--- available -> ./green
 |--- inactive -> ./blue
